/* Basic reset */
body, h1, h2, h3, p, ul {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: url('/dnd-wiki/img/maze.jpg') no-repeat center center fixed;
    background-size: cover;
    color: #199ad6;
    position: relative;
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    z-index: 0;
}

header, .container, .main-content {
    z-index: 1;
    font-family: "Sorts Mill Goudy", serif;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.6);
    text-align: center;
    font-weight: 900;
    padding: 10px 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.432);
    z-index: 2;
}

.header-content {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: fixed;
}

.main-nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 30px;
    justify-content: center;
    width: 100%;
}

.main-nav li {
    display: inline-block;
}

.main-nav a {
    color: #d8e2ec;
    text-decoration: none;
    align-items: center;
    text-align: center;
}

.main-nav a:hover {
    color: #1699e6;
}

.main-content {
    display: flex;
    margin: 20px;
    gap: 20px;
    position: relative;
    z-index: 1;
    flex-wrap: wrap;
}

.character-profile {
    flex: 3;
    background: rgba(231, 230, 230, 0.678);
    padding: 20px;
    border-radius: 5px;
    text-align: justify;
}

.character-text h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
    color: #333;
}

.character-text p {
    z-index: 1;
    font-size: 1.1rem;
    margin-bottom: 20px;
    color: #131212;
}

.character-text ul {
    list-style-type: none;
    padding: 0;
}

.character-text ul li {
    margin-bottom: 10px;
}

.character-text .quote {
    font-style: italic;
    color: #555;
    margin: 20px 0;
}

.character-text .section-title {
    font-size: 1.5rem;
    margin-top: 20px;
    margin-bottom: 10px;
    color: #333;
    border-bottom: 1px solid #ddd;
    padding-bottom: 5px;
}

.character-text img {
    word-wrap: break-word;
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 20px;
}

.character-details {
    padding: 20px;
    border-radius: 5px;
    max-width: 300px;
    overflow-y: auto;
    overflow-x: hidden;
    position: sticky;
    top: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.character-details-content {
    background: rgba(0, 0, 0, 0.7);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-family: 'Crimson Text';
}

.character-details-content h2 {
    font-size: 30px;
    margin-bottom: 10px;
    color: #e0e2e2;
    background-color: #0ca6eea2;
    padding: 10px;
    border-radius: 4px;
}

.character-details-content ul {
    list-style: none;
    padding: 0;
}

.character-details-content ul li {
    margin-bottom: 10px;
    font-size: 1.1rem;
    color: #47a9d6c2;
    font-weight: 200;
}

.character-details-content ul li strong {
    color: #bdbcbc;
}

#table-of-contents-box {
    position: fixed;
    top: 520px;
    right: 40px;
    width: 220px;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 100;
    overflow-y: auto;
}

#table-of-contents {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 10px;
}

#table-of-contents-box ul {
    padding-left: 0;
    margin: 0;
    list-style-type: none;
}

#table-of-contents-box ul li a {
    display: block;
    padding: 1px;
    text-decoration: none;
    color: #bdbcbc;
    font-size: 1em;
}

#table-of-contents-box ul li a:hover {
    color: #0056b3;
}

#table-of-contents-box ul ul {
    margin-left: 10px;
    padding-left: 10px;
}

footer {
    background-color: rgba(0, 0, 0, 0.6);
    padding: 10px 20px;
    text-align: center;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
}

h1, h2 {
    font-family: "Sorts Mill Goudy", serif;
}

p {
    font-family: 'Crimson Text';
    font-weight: 600;
    color: #f7f5f5;
}

/* Mobile styles */
@media (max-width: 768px) {

    .header-content {
        justify-content: center;
        margin-left: 0;
    }

    .main-content {
        flex-direction: column;
        margin: 1px;
        gap: 10px;
        width: 100%;
    }

    .character-profile,
    .character-details {
        width: 100%;
    }

    .character-details-content {
        width: 100%;
        max-width: 270px;
    }

    .character-text h1 {
        font-size: 2rem;
    }

    .character-text p,
    .character-details-content ul li,
    .table-of-contents h2 {
        font-size: 1rem;
    }

    .table-of-contents {
        font-size: 18px;
        margin: 25px;
        width: 100%;
        order: -1;
    }

    .table-of-contents h2 {
        font-size: 30px;
        width: 100%;
    }

    footer {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

a.headerlink {
    display: none !important;
}