# Python virtual environment
venv/

# MkDocs build directory
site/

# OS-specific files
.DS_Store  # macOS
Thumbs.db  # Windows

# Python bytecode
__pycache__/
*.py[cod]

# IDE files
.vscode/
.idea/

# MkDocs specific
mkdocs.yml~

